# https://pre-commit.com/
ci:
  autoupdate_schedule: monthly
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: "v0.4.3"
    hooks:
      # Run the linter.
      - id: ruff
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
      - id: mypy
        # Copied from setup.cfg
        exclude: "properties|asv_bench|docs"
        additional_dependencies: [
            # Type stubs
            types-python-dateutil,
            types-pkg_resources,
            types-PyYAML,
            types-pytz,
            # Dependencies that are typed
            numpy,
            typing-extensions>=4.1.0,
          ]
  # run this occasionally, ref discussion https://github.com/pydata/xarray/pull/3194
  # - repo: https://github.com/asottile/pyupgrade
  #   rev: v3.15.2
  #   hooks:
  #     - id: pyupgrade
  #       args:
  #         - "--py310-plus"
