name: virtualizarr-tests
channels:
  - conda-forge
  - nodefaults
dependencies:
  - h5netcdf
  - h5py
  - hdf5
  - netcdf4
  - xarray>=2024.6.0
  - kerchunk>=0.2.5
  - pydantic
  - numpy>=2.0.0
  - ujson
  - packaging
  - universal_pathlib
  # Testing
  - codecov
  - pre-commit
  - ruff
  - pytest-mypy
  - pytest-cov
  - pytest
  - pooch
  - scipy
  - dask
  - fsspec
  - s3fs
  - fastparquet
  # for opening tiff files
  - tifffile
  # for opening FITS files
  - astropy
