name: Typing

on:
  push:
    branches: [ "main" , "develop"]
    paths-ignore:
    - 'docs/**'
  pull_request:
    branches: [ "main" , "develop"]
    paths-ignore:
    - 'docs/**'
  schedule:
    - cron: "0 0 * * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  PIP_ROOT_USER_ACTION: ignore

jobs:
  mypy:
    name: mypy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.8.3
        with:
          pixi-version: v0.41.4
      - name: List installed libraries
        run: |
          pixi run -e test pip list
      - name: Type check
        run: |
          pixi run -e test run-mypy
